@font-face {
	font-family: UberHeaderFont;
	src: url("AgencyFB Regular.otf") format("opentype");
}

body,html {
	margin: 0;
	height:100%;
	font-family: UberHeaderFont;

	/* diagonal stripes */
	background-color: #333;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(15,15,15,.5) 35px, rgba(15,15,15,.5) 70px);
}

#header {
	font: 45px UberHeaderFont;
	text-align: center;
	padding: 20px;

	color: #fff;
	background: #252621;
}

.column {
	display: inline-block;
	float: left;
	width: 50%; /*50% for two column || 100% for one column*/
}

@media (max-width: 600px) {
	.column {
		width:100%;
		float:none;
	}
}

.title {
	color: white;
	font-size: 25px;
	margin-bottom: 10px;
}

#map-canvas {
	display: block;
	height: 307px; /* 200px */ 
}

.content {
	padding: 15px;
	/*background: #b9b9b9;*/ /* sublimetext background = #252621;*/
	color: #333;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
#mainContent .state {
	display: inline-block;
	background: #b9b9b9;
}

.state img {
	vertical-align: middle;
}

#searchAddress {
	width: 100%;
}

#addresses {
	padding: 15px;
	font-size: 12px;
	background: #252621;
	min-height: 50px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type=text] {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
	padding: 6px 7px;
	outline: 0;
	box-shadow: 0 0px 0 rgba(0,0,0,1),inset 0 1px 0 rgba(34,25,25,.3);
	border-radius: 3px;
	border: solid 1px #E5E5E5;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.3) 0px 0px 8px;
}

#stopEdit,
#updateAddress,
#deleteAddress {
	display: none;
}

button.submit {
	background-color: white;
	margin-left: -30px;
	padding-top: 2px;
	height: 21px;
	width: 25px;
	color: white;
	border: 0;
	-webkit-appearance: none;
	cursor: pointer;
}

button.actionButton {
	/* blue gradient */
	background-color: #fa0;
	background-image: -moz-linear-gradient(#fa0, #EB8500);
	background-image: -o-linear-gradient(#fa0, #EB8500);
	background-image: -webkit-linear-gradient(#5956ff, #EB8500);
	background-image: linear-gradient(#1451a0, #0e4893);

	border:0px;
	border-radius: 1px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);

	cursor: pointer;

	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

	color: white;
	display:inline-block;
	margin:5px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}

button:hover {
	color: #d1dbff;
}

.clear {
	clear: both;
}

.editActive {
	/*gradient orange*/
	background-color: #fa0 !important;
	background-image: -moz-linear-gradient(#fa0, #EB8500) !important;
	background-image: -o-linear-gradient(#fa0, #EB8500) !important;
	background-image: -webkit-linear-gradient(#fa0, #EB8500) !important;
	background-image: linear-gradient(#fa0, #EB8500) !important;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
.address {
	/* green gradient */
	background-color: #a0c12c;
	background-image: -moz-linear-gradient(#a0c12c, #699315);
	background-image: -o-linear-gradient(#a0c12c, #699315);
	background-image: -webkit-linear-gradient(#a0c12c, #699315);
	background-image: linear-gradient(#a0c12c, #699315);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 999px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);

	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

	color: white;
	display:inline-block;
	margin:5px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}

.address span {
	color: #efebdc;
	font-weight: normal;
	text-transform: uppercase;
}
